name: Deploy PDMS to Self-Hosted Server

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Deploy to Nginx directory
        run: |
          rm -rf /var/www/html/PDMS/build
          cp -r build /var/www/html/PDMS/
